@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body{
    font-family:"Poppins",sans-serif ;
    color: #777;
    line-height: 1.7;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color: #222;
}
a{
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}
a:hover{
    color: #F58d17;
}
.nav-link{
    color:#222;
    padding: 0 10px 0 10px
}
.nav-link:hover{
    background-color: #F58d17;
    color: #fff;
    border-radius: 30px;
}
img{
    width: 100%; 
}
.logo{
    width: 2.5rem;
    height: 2.5rem;
    
}
.logo-text{
    font-family:'Pacifico',sans-serif ;
    letter-spacing: 2px;
    font-size: 1.5rem;
}
/* Buttons */
.btn{
    border-radius: 0;
    padding: 14px 38px;
}
.btn-brand{
    color: #fff;
    font-weight: 600;
    border-color: #F58d17;
    background-color: #F58d17;
}
.btn-brand:hover{
    border-color: #ca7310;
    background-color: #ca7310; 
    color: #fff ;
}
.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
 }
/* sliders */
.slide-1{
   background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../assets/cover/cover1.jpg);
}
.slide-2{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../assets/cover/cover2.jpg);
 }
 .bg-cover{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 #heroslider h6::after,
 #heroslider h6::before{
      content: '';
      width: 20px;
      height: 4px;
      background-color: #ffffff;
      display: inline-block;
      margin: 10px;
      vertical-align: middle;
 }
 .carousel-control-prev,
 .carousel-control-next{
    background-color:  rgba(0, 0, 0, 0.6); 
    width: 40px;
    height: 40px;
    margin: auto;
 }
/* section About */
section{
    padding: 120px 0; 
}
#about.divider{
    width: 60px;
    height: 2px;
   display: block;
   background-color: #F58d17;
}
/* menu-section */
.intro-text{
    margin-bottom: 40px;
    text-align: center;
}
.intro-text p{
    max-width:500px ;
    margin: 0 auto 0 auto;
}
#menu .nav-pills .nav-link{
    background-color: #fff;
    margin:0 8px 0 8px ;
    color: #222;
    border-radius:100px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}
#menu .nav-pills .nav-link.active{
    background-color: #F58d17;
    color: #fff;
}
.menu-item .stars{
    color:#F58d17;
}
.shadow-on-hover{
    transition: all 0.4s;
}
.shadow-on-hover:hover{
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* Features Section */
#features{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../assets/cover/cover2.jpg);
}
.feature{
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.feature .feature-icon{
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #F58d17;
    font-size: 28px;
    display: inline-grid;
    align-content: center;
    text-align: center;
}
/* team Section */
.team-member img{
    max-width: 140px;
    box-shadow: -10px -10px #F58d17;
    border-radius: 100px;
}
/* Review Section */
#reviews{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../assets/cover/cover3.jpg);
}
.review img{
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.quote-icon{
    color: #F58d17;
    font-size: 75px;
    line-height:1px ;
}
.stars{
    color: #F58d17;
}
#reviews .carousel-indicators{
    margin-bottom: -3rem;
}
/* Reservation */
#reservation .form-control{
    border-radius: 0;
}
#reservation .form-control:focus{
    box-shadow: none;
    border-color: #F58d17;
}
#reservation input.form-control{
  height: 47px;  
}
/* insta postes */
.insta-post{
    position: relative;
}
.insta-post .insta-btn{
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 26px;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.insta-post img{
   transition: all 0.4s; 
}
.insta-post:hover img{
    transform: scale(1.2);
}
.insta-post:hover .insta-btn{
    opacity: 1;
}
/* Blog-post */
.blog-post img{
    width: 50%;
    object-fit: cover;
}
@media(max-width: 768px){
    .blog-post{
        flex-direction: column;
    }
    .blog-post img{
        width: 100%;
    }
}
/* footer */
footer{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../assets/cover/cover3.jpg);
    padding-top: 120px;
    padding-bottom: 30px;
}
footer img.logo{
    color: #fff;
}
footer p,
footer a{
    color: rgba(255, 255 , 255, 0.75);
}
footer .social-links a{
    font-weight: normal;
    font-size: 24px; 
    margin-right: 10px;
}
footer img{
    max-width: 175px;
}
.footer-top{
    padding-bottom: 30px;
}
.footer-bottom{
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255 , 255, 0.4);
}